---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import CTA from '../components/CTA.astro';
import Testimonials from '../components/Testimonials.astro';
---

<Layout>

    <div class="flex-grow w-full max-w-container-max mx-auto px-margin-mobile md:px-gutter pb-section-v">
        <Hero />
        <CTA />
        <Testimonials />
    </div>
</Layout>
