---

---

<footer
    class="bg-surface-container-low dark:bg-tertiary-container text-on-surface dark:text-white border-t border-outline-variant mt-auto"
>
    <div
        class="flex flex-col md:flex-row justify-between items-center py-stack-md px-margin-mobile md:px-gutter max-w-container-max mx-auto gap-stack-sm"
    >
        <nav
            class="flex gap-4 font-caption text-caption text-on-surface-variant dark:text-white flex-wrap justify-center md:justify-end"
        >
            <a
                class="hover:text-on-surface dark:hover:text-gray-200 transition-opacity duration-150"
                href="/privacy-policy">Privacy Policy</a
            >
            <a
                class="hover:text-on-surface dark:hover:text-gray-200 transition-opacity duration-150"
                href="/terms-of-service">Terms of Service</a
            >
            <a
                class="hover:text-on-surface dark:hover:text-gray-200 transition-opacity duration-150"
                href="/contact">Contact Us</a
            >
        </nav>
    </div>
</footer>
