---

---

<div
    class="bg-transparent text-black mt-1 w-full py-0.5 md:py-2 px-margin-mobile flex flex-col justify-center items-center gap-1 md:gap-2"
>
    <div class="flex items-center gap-4 w-full max-w-[200px] justify-center">
        <div class="h-px bg-outline-variant flex-1"></div>
        <div class="flex text-yellow-400">
            <svg style="width:0;height:0;position:absolute;" aria-hidden="true">
                <defs>
                    <linearGradient id="star-4-8" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="85%" stop-color="currentColor"></stop>
                        <stop offset="85%" stop-color="#e5e7eb"></stop>
                    </linearGradient>
                </defs>
            </svg>
            <svg
                class="w-4 h-4 md:w-5 md:h-5 text-yellow-400"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path></svg
            >
            <svg
                class="w-4 h-4 md:w-5 md:h-5 text-yellow-400"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path></svg
            >
            <svg
                class="w-4 h-4 md:w-5 md:h-5 text-yellow-400"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path></svg
            >
            <svg
                class="w-4 h-4 md:w-5 md:h-5 text-yellow-400"
                viewBox="0 0 24 24"
                fill="currentColor"
                ><path
                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path></svg
            >
            <svg
                class="w-4 h-4 md:w-5 md:h-5 text-yellow-400"
                viewBox="0 0 24 24"
                fill="url(#star-4-8)"
                ><path
                    d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                ></path></svg
            >
        </div>
        <div class="h-px bg-outline-variant flex-1"></div>
    </div>
    <span
        class="text-[15px] md:font-label-bold md:text-[13px] font-bold leading-none mt-1"
        >4.8 Google Rating | 91 Google Reviews</span
    >
</div>
